@model WebChuyennganh.Models.BaiViet

@{
    ViewBag.Title = "Chỉnh sửa bài viết";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@{
    WebChuyennganh.Models.NhanVien nv = (WebChuyennganh.Models.NhanVien)Session["NhanVien"];
}

<h2 class="h3 mb-2 text-gray-800">Chỉnh sửa bài viết</h2>

@using (Html.BeginForm("Edit", "BaiViets", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaBV)

        <div class="form-group">
            @Html.LabelFor(model => model.TenBV, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenBV, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                @Html.ValidationMessageFor(model => model.TenBV, "", new { @class = "text-danger" })
                <span class = "text-danger">@ViewData["TrongTenBV"]</span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HinhDD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                Chọn ảnh
                <input type="file" name="fileUpload" />
                @Html.ValidationMessageFor(model => model.HinhDD, "", new { @class = "text-danger" })
                <span class = "text-danger">@ViewData["TrongHinhDD"]</span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoiDung, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.NoiDung, new { @class = "form-control ckeditor" })
                @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
                <span class = "text-danger">@ViewData["TrongNoiDung"]</span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TenTKDang, "Đăng bởi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.TenTKDang)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TenTKCapNhat, "Cập nhật bởi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @nv.TaiKhoan
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayDang, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.NgayDang)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayCapNhat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @String.Format("{0:dd/MM/yyyy}", DateTime.Now)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    <a class="btn btn-primary" href="@Url.Action("Index", "BaiViets")">Về danh sách</a>
</div>

<script>
    CKEDITOR.replace("editor");
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
