@model WebChuyennganh.Models.NhaCungCap

@{
    ViewBag.Title = "Thêm nhà cung cấp";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="h3 mb-2 text-gray-800">Thêm mới nhà cung cấp</h2>

@using (Html.BeginForm("Create", "NhaCungCaps", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TenNCC, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenNCC, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                @Html.ValidationMessageFor(model => model.TenNCC, "", new { @class = "text-danger" })
                <span class = "text-danger">@ViewData["TrongTenNCC"]</span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiaChi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control", @maxlength = "100" } })
                @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoDT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoDT, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @step = "1" } })
                @Html.ValidationMessageFor(model => model.SoDT, "", new { @class = "text-danger" })
                <span class="text-danger">@ViewData["SaiSoDT"]</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm mới" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    <a class="btn btn-primary" href="@Url.Action("Index", "NhaCungCaps")">Về danh sách</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
