@model IEnumerable<WebChuyennganh.Models.CTPhieuNhap>

@{
    ViewBag.Title = "Chi tiết phiếu nhập";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="h3 mb-2 text-gray-800">Danh sách chi tiết phiếu nhập</h2>

<p>
    <a class="btn btn-success" href="@Url.Action("Create", "CTPhieuNhaps")">Thêm mới</a>
</p>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Số phiếu nhập
                        </th>
                        <th>
                            Mã đồng hồ
                        </th>
                        <th>
                            Hình đại diện
                        </th>
                        <th>
                            Số lượng
                        </th>
                        <th>
                            Giá tiền
                        </th>
                        <th>
                            Thành tiền
                        </th>
                        <th>
                            Hành động
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhieuNhap.SoPN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DongHo.MaDH)
                        </td>
                        <td>
                            <img src="@Url.Content(item.DongHo.HinhDD)" style="max-width:120px;" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoLuong)
                        </td>
                        <td>
                            @item.GiaTien.ToString("#,##0.00")
                        </td>
                        <td>
                            @item.ThanhTien.ToString("#,##0.00")
                        </td>
                        <td>
                            <a class="btn btn-info" href="@Url.Action("Details", "CTPhieuNhaps", new { id1 = item.SoPN, id2 = item.MaDH })">Chi tiết</a> |
                            <a class="btn btn-warning" href="@Url.Action("Edit", "CTPhieuNhaps", new { id1 = item.SoPN, id2 = item.MaDH })">Chỉnh sửa</a> |
                            <a class="btn btn-danger" href="@Url.Action("Delete", "CTPhieuNhaps", new { id1 = item.SoPN, id2 = item.MaDH })">Xóa</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
